.frameBody{
width:450px;
height:450px;
position:relative;
left:350px;
top:100px;
border-width:'1px';
border: 1px solid #94C8FFDB;
backdrop-filter: 'blur(18.600000381469727px)';
-webkit-backdrop-filter: 'blur(20px)';
/* background: #e3f5411a;  */
background-color: #f3fab556;
border: '1px solid #e3f541';
border-radius: '20px';
box-shadow: '0 4px 30px rgba(0; 0; 0; 0.7)';
align-content:center;
      };


.valueStyle{
    border:2px solid pink;
    margin:-3px 0px 0px 0px;
    width:250px;
  }

.lableStyle{
    /* border:2px solid #888888; */
    font-weight:500;
  }
.boxDiv{
    position:relative;
    left:105px;
    width:250px;
    font-weight:400;
    margin:0px 0px 10px 0px
    };
.sendOtp{
    border:2px solid pink;
    margin:-3px 0px 0px 0px;
    width:120px;
    height:40px;
    position:relative;
    left:50px;
    border-radius:12px;
    font-weight:700;
    color:#f5a613ff
  }
.message{
    color:red;
    font-weight:600
}
  