.Nav-txt{
width: 381px;
height: 35px;
position: absolute;
top: 57px;
left: 918px;
font-family: Segoe UI;
font-weight: 700;
font-size: 25px;
line-height: 140%;
letter-spacing: 0%;
color: #FFFFFF;
}
.Add-btn{
width: 85px;
height: 40px;
position: absolute;
top: 54px;
left: 1649px;
border-radius: 20px;
border-width: 1px;
background: #E7CA0D85;
border: 1px solid #E7CA0D3B;
backdrop-filter: blur(18.600000381469727px);
/* // On click
// Navigate to: "Dashboard Admin Employee Details Section Addition";
// Animate: Smart animate; */
animation-timing-function: linear;
animation-duration: 400ms;
}
.Add-btn p{
width: 53px;
height: 30px;
position: absolute;
top: -15.25px;
left: 14px;
font-family: Segoe UI;
font-weight: 600;
font-size: 20px;
line-height: 140%;
letter-spacing: 0%;
color: #FFFFFF;
}
.Main-Box{
width: 1397px;
height: 792px;
position: absolute;
top: 191px;
left: 360px;
border-radius: 25px;
border-width: 1px;
background: #94C8FF73;
background: #94C8FF73;
backdrop-filter: blur(18.600000381469727px);

}
.SearchBar{
width: 550px;
height: 50px;
position: absolute;
top: 19px;
left: 814px;
border-radius: 25px;
border-width: 1px;
background: #FFFFFFB0;
border: 1px solid #FFFFFF08;
backdrop-filter: blur(21px);
}
.SearchBar-txt{
width: 216px;
height: 28px;
position: absolute;
top: 11px;
left: 25px;
font-family: Segoe UI;
font-weight: 400;
font-size: 20px;
line-height: 140%;
letter-spacing: 0%;
color: #4A4949BF;

}
.SearchIcon{
width: 17.575000762939453px;
height: 17.575000762939453px;
position: absolute;
top: 16px;
left: 504px;
border-width: 1px;
background: #968308D4;
border: 1px solid #9683080A;
backdrop-filter: blur(24px)

}
.TableHeader-In{
width: 84px;
height: 84px;
border-radius: 50px;
border-width: 1px;
background: #00D5FF73;
border: 1px solid #00D5FF;
backdrop-filter: blur(12px)

}
.TableHeader{
width: 1330px;
height: 84px;
position:absolute;
top: 91px;
left: 34px;
border: 1px solid #00D5FF;
}